* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    padding: 50px;
    background-color: #d4a373;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-title {
    color: #faedcd;
    text-align: center;
}
.form {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text] {
    padding: 10px 20px;
    border-radius: 12px;
    background-color: whitesmoke;
    border: none;
    margin-right: 10px;
    width: 60%;
}
input[type=submit] {
    border-radius: 12px;
    padding: 10px 15px;
    background-color: rgb(177, 52, 6);
    border: none;
    color: whitesmoke;
}
.recipe-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recipe {
    width: 360px;
    background-color: #faedcd;
    color: rgb(46, 44, 44);
    padding: 30px;
    margin: 10px;
    border: none;
    border-radius: 12px;
}
.recipe-title {
    color: rgb(177, 52, 6);
}
.recipe-calories {
    font-weight: bold;
    font-size: 18px;
}
@media only screen and(max-width:768px) {
    .recipe-wrapper {
        flex-direction: column;
    }
    .recipe {
        width:320px ;
    }
    .recipe-title {
        font-size: 16px;
    }
    
}